@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu{
    display: none;
    position:absolute;

}

.menu.visible{
    display:flex;
    justify-content: end;
    position: relative;
}

.menu.hidden-menu{
    display: none;
}

.hidden-hamburger{
    display: none;
}

.custom-underline:hover{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: white;
}